@media screen and (min-width: 800px) {
    .cards {
        grid-template-columns: repeat(4, 300px);
    }
}

@media screen and (min-width: 620px) and (max-width: 1220px) {
    .cards {
        grid-template-columns: repeat(2, 300px);
    }
}

header {
    background:#132849;
    color: #fff;
}


body {
    font-family: 'Roboto';
}

header, footer {
    text-align: center;
}

footer {
    margin-top: 20px;
}

h1 {
    color: #fff;
    font-family: 'Josefin+Sans';
}
h2 {
    color: #132849;
    font-family: 'Roboto';
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto, 300px);
    box-shadow: 0 0 20px #43ac9a;
    justify-content: center;
    background-color: #c9eee8;
}

section {
    text-align: center;
    border: 1px solid #0d5e4f;
    margin: 10px;
    background-color: #5dc7b4;
}

img {
    width: 200px;
    height: 280px;
    margin: 10px auto;
    box-shadow: 0 0 25px #041f1a;
}

