/* small CSS */
/*


    font-family: 'Josefin Sans', sans-serif;

    font-family: 'Noto Serif', serif;

    font-family: 'Roboto', sans-serif;

*/



@media (max-width: 300px) {                  
   .section2 {
      display: none !important;
   }
   .contactMap {
     display: none !important;
   }
}



header img {
    width: 70px;
    height: auto;
}

.heading {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0 0;
}

.heading h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
}
/* Line Motto below site name */
.motto {
    text-align: center;
    color: rgb(233, 202, 29);
    margin-left: 20px;
    font-size: .9rem;
}

header, footer, h1, h2, h3, h4, main, nav 
{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

body {
    padding: 0;
    margin: 0;
}


header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid #bbb;
    background-color: #2b4b84;
    color: white;
    padding: 15px 0;
    display: flex;
    max-width: 1000px;
    margin: auto;
    
    justify-content: center;
}



nav {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(250, 250, 246);
    margin: auto;
    max-width: 1000px;
  }

nav ul {
    list-style-type: none;

}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
    border-top: 1px dashed rgba(0,0,0,0.3);
}

nav button {
    margin: .2rem 2%;   
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
    }

nav ul.hide {display: none;}

nav ul li a:hover {
    background-color:#ff6600;
    color: #FFF;
}

nav ul li.active a {
    background-color: #555;
    color: #FFF;
}

  .annoucement {
    max-width: 1000px;
    height: 46px;
    display:block;
    margin-top: -20px;
    background-color: rgb(233, 202, 29);
    color: #000;
    margin: auto;
    font-weight: bolder;
    display: none;
    text-align: center;
  }

#announcement, #noAnnoucement {
  display: none;

}

/* Future Content area design */
.hero {
    margin: 10px auto;
    position: relative;
}

.hero img {
    max-width: 1000px;
    height: auto;
}

.summary {
    position: absolute;
	top: 10%;
	left: 10%;
	background: #9399a5;
	border: 1px solid #000;
	box-shadow: 0 0 10px #111;
    opacity: .8;
    font-size: 1.0em;
    height: 290px;
    font-weight: bolder;
    color: #fff;
}

.towns {
  display: grid;
  grid-template-columns: repeat(5, 32%);
  grid-column-gap: 20px;
  grid-row-gap: 0.0px;

}
    .town {
      background-color: #c6d5d8;
      display: grid;
      border: 5px solid #2b4b84;
  }
  
  .data {
      text-align: center;


  }
  
  .data h2{
      
      font-size: 2rem;

  }
  
  .data h3 {
      font-size: .7rem;
      font-weight: bold;
      font-style: italic;
  }
  
  .town img {
      width: 100%;
      height: auto;
 
  }
  




/* Start CSS for Five Day Forecast Table */
table.fiveDayForecast {
    border: 1px solid rgb(3, 35, 56);
    background-color: #FFFFFF;
    width: 525PX;
    text-align: center;
    border-collapse: collapse;
    margin: 10px auto;
    display: none;
  }

  table.fiveDayForecast td, table.fiveDayForecast th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }

  table.fiveDayForecast tbody td {
    font-size: 13px;
    font-weight: bold;
  }

  table.fiveDayForecast tr:nth-child(even) {
    background: #D0E4F5;
  }

  table.fiveDayForecast thead {
    background: rgb(4, 42, 68);
    border-bottom: 2px solid #444444;
  }

  table.fiveDayForecast thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #D0E4F5;
  }

  table.fiveDayForecast thead th:first-child {
    border-left: none;
  }
  
  table.fiveDayForecast tfoot td {
    font-size: 14px;
  }

  table.fiveDayForecast tfoot .links {
    text-align: right;
  }

  table.fiveDayForecast tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }

/* Page Content Formatting CSS  */
.pageContent {
    display: block;
    margin: 10px auto;
    border: 1px dashed black;
 
    background-color: #666666;
    color: #fff;
    max-width: 1000px;
    text-align: left;
    font-weight: bold;
}

.imgArticle {
    
    float: right;
    padding: 15px;
}

.article {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    overflow: auto;
    text-align: left;
    word-wrap: normal;
    color: #fff;
}

.contact {
    display: block;
    margin: 10px auto;
    border: 1px dashed black;
    background-color:#666666;
    color: ghostwhite;
    max-width: 1000px;
    overflow:hidden;
    text-align: left;
 }

 .contactMap {
  max-width: 400px;
  height: 100%;
  display: none;
}
.contactSection {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
}

main{
  max-width: 1000px;
  margin:0 auto;
  padding-bottom: 10px;
}

/* Footer area */
footer {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin: 0 auto;
    border: 1px solid #bbb;
    color: white;
    background-color: #2b4b84;
    text-align: center;
    font-size: 12px;
    max-width: 1000px;
    max-height: 125px;
    text-align: center;
    padding-top: 10px;
}

footer span {
  
        padding: 1px;
        color: #ffffff;
        text-align: left;
        font-family: 'Open Sans', Helvetica, sans-serif;
        font-size: 12px;
        margin-left: 20px;
        text-align: center;
    }

footer a {
    color: #fff;

}
#currentdate {color:#fff;}

.contactMap {
  max-width: 400px;
  height: 100%;
  display: none;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(333px, 1fr));
  gap: 1%;
  margin-bottom: 250px;

}

#gallery img {
  object-fit: cover;
  max-width: 333px;
  height: 250px;
}

.gallery-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  max-width: 333px;
}

.caption {
  background-color: white;
  padding: 2%;
  color: black;
  text-align: center;
}